
.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contentWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.large-input {
  height: 100px;
}

p {
  font-size: 10px;
}